@charset "UTF-8";
.chat-box {
display: inline-block;
color: #34495e;
margin: 0 0 30px 0;
}

.chat-box li {
display: table;
padding: 13px;
margin: 7px 10px;
font-size: 12px;
line-height: 20px;

-webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-webkit-border-bottom-left-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
-moz-border-radius-bottomleft: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border-bottom-left-radius: 6px;
}

.chat-box .odd {
background-color: #ecf0f1;
max-width: 60%;
clear: both;
float: left;
}

.chat-box .odd:after {
content: ‘ ‘;
position: relative;
top: auto;
bottom: auto;
border: 12px solid;
border-color: transparent transparent #ecf0f1 transparent;
margin: 0 0 0 -24px;
float: left;
}

.chat-box .even {
background-color: #C1E4EC;
max-width: 60%;
height: auto;
clear: both;
float: right;
}

.chat-box .even:after {
content: ‘ ‘;
position: relative;
bottom: auto;
border: 12px solid;
border-color: transparent transparent #C1E4EC transparent;
margin: 0 -24px 0 0;
float: right;
}

.chat-box li span {
padding: 0 0 5px;
color: #7f8c8d;
display: block;
font-size:15px;